@using TransportationApp.Domain.Entity
@model List<CompanyVehicle>
@{
    ViewData["Title"] = "Aracım";
}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Hesabım
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="row g-0">
                <div class="col-3 d-none d-md-block border-end">
                    <div class="card-body">
                        <div class="list-group list-group-transparent">
                            <a href="/company/profile/account" class="list-group-item list-group-item-action d-flex align-items-center">Hesap Bilgilerim</a>
                            <a href="/company/profile/vehicle" class="list-group-item list-group-item-action d-flex align-items-center active">Aracım</a>
                            <a href="/company/profile/team" class="list-group-item list-group-item-action d-flex align-items-center">Ekibim</a>
                        </div>
                    </div>
                </div>
                <div class="col d-flex flex-column">
                    <form method="post">
                        <div class="card-body">
                            <h3 class="card-title mt-4">
                                Araç Bilgileri
                                <button type="button" class="btn btn-success" style="float:right" data-bs-toggle="modal" data-bs-target="#modal-vehicle">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                                    Araç Ekle
                                </button>
                            </h3>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Araç Tipi</th>
                                        <th>Marka/Model</th>
                                        <th>Plaka</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var v in Model)
                                    {
                                        <tr>
                                            <td>@v.Type</td>
                                            <td>@v.BrandModel</td>
                                            <td>@v.LicenseNo</td>
                                            <td>
                                                <button type="button" class="btnDeleteVehicle btn btn-danger" data-id="@v.Id">Aracı Sil</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer bg-transparent mt-auto">
                            <div class="btn-list justify-content-end">
                                <a href="#" class="btn">
                                    İptal
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    Kaydet
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-blur fade" id="modal-vehicle" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="modal-content" id="formVehicle" method="post">
            <div class="modal-header">
                <h5 class="modal-title">Araç Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Araç Tipi</label>
                    @Html.DropDownList("Type", new List<SelectListItem>
               {
                   new SelectListItem{ Text = "Tır" },
                   new SelectListItem{ Text = "Kamyon" },
                   new SelectListItem{ Text = "Kamyonet" },
                   new SelectListItem{ Text = "Minibüs" }
               }, new { @class = "form-select", required = "" })
                </div>
                <div class="mb-3">
                    <label class="form-label">Marka/Model</label>
                    @Html.TextBox("BrandModel", "", new { @class = "form-control", required = "" })
                </div>
                <div class="mb-3">
                    <label class="form-label">License No</label>
                    @Html.TextBox("LicenseNo", "", new { @class = "form-control", required = "" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Kapat</button>
                <button type="submit" class="btn btn-primary">Gönder</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $("#formVehicle").submit(function () {
            $.post("/company/profile/addVehicle", $(this).serialize(), function () {
                location.reload()
            })
            return false
        })
        $(".btnDeleteVehicle").click(function () {
            if (confirm("Aracı silmek istediğinizden emin misiniz ?")) {
                $.post("/company/profile/deleteVehicle", { id: $(this).data("id") }, function () {
                    location.reload()
                })
            }
        })
    </script>
}