@using TransportationApp.Domain.Models.Request;
@using TransportationApp.Domain.Models.Common;
@using TransportationApp.Domain.Common;
@model PaginationResult<RequestListModel>
@{
    ViewData["Title"] = "Nakliye Talepleri";
}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Nakliye Talepleri
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        @foreach (var r in Model.Data)
        {
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-auto">
                        <div class="card-body">
                            <div class="avatar avatar-md">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body ps-0">
                            <div class="row">
                                <div class="col">
                                    <h3 class="mb-0"><a href="/company/requests/detail/@r.Id">@r.Category</a></h3>
                                </div>
                                @if (r.ApplicationAmount > 0)
                                {
                                    <div class="col-auto fs-3 text-green">Verilen Teklif: @r.ApplicationAmount.ToString("C0")</div>
                                }
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <div class="mt-3 list-inline list-inline-dots mb-0 text-muted d-sm-block">
                                        <div class="list-inline-item">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                                <path d="M9 12l2 2l4 -4"></path>
                                            </svg>
                                            @r.ApplicationCount Teklif Verildi
                                        </div>
                                        <div class="list-inline-item">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-due" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                                                <path d="M16 3v4"></path>
                                                <path d="M8 3v4"></path>
                                                <path d="M4 11h16"></path>
                                                <path d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                            </svg>
                                            @r.Details.FirstOrDefault(n => n.Property == "Eşya/Yük Ne zaman Taşınacak?")?.Value
                                        </div>
                                        <div class="list-inline-item">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-hour-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                                <path d="M12 12l2 3"></path>
                                                <path d="M12 7v5"></path>
                                            </svg>
                                            @r.CreateDate.DateTimeFormat() Önce Gönderildi
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <div class="mt-3 badges">
                                        @if (r.Details.FirstOrDefault(n => n.Property == "EMTİA sigortası ister misin?")?.Value.Contains("Evet") == true)
                                        {
                                            <a href="#" class="badge badge-outline text-muted border fw-normal badge-pill">Sigortalı</a>
                                        }
                                        <a href="#" class="badge badge-notification border fw-bolder badge-pill bg-green">Yeni</a>
                                        @if (r.ApplicationAmount > 0)
                                        {
                                            <a href="#" class="badge badge-notification border fw-bolder badge-pill bg-green">Teklif Verildi</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>